
<ion-content color="warning">
<div class="card" >
<div class="conteudo">
  
  <div class="titulo">
  <h1>Fazer cadastro</h1>
  </div>
  <div class="inputs">
    
  <div class="input">
      <ion-input placeholder="Nome:" [(ngModel)]="userRegister.nome"></ion-input>
  </div>
  <div class="input">
    <ion-input placeholder="Email:" [(ngModel)]="userRegister.email"></ion-input>
  </div>
  <div class="input">
    <ion-input placeholder="Telefone" [(ngModel)]="userRegister.telefone"></ion-input>
  </div>
  <div class="input">
    <ion-input placeholder="Senha:" [(ngModel)]="userRegister.password"></ion-input>
  </div>
  <div class="input">
    <ion-input placeholder="Instituição:" [(ngModel)]="userRegister.instituicao"></ion-input>
  </div>
  <div class="input">
    <ion-input placeholder="Turma:" [(ngModel)]="userRegister.turma"></ion-input>
  </div>
      <div class="cadastrar">
        <ion-button size="small" color="warning" (click)="register()">CADASTRAR</ion-button>
      </div>
          <div class="botao">
            <ion-button size="small" color="warning" routerLink="/login">Já possui cadastro? Fazer Login</ion-button>
          </div>
    </div>
  </div>
</div>
</ion-content>
