<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Cadastrar produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="card">
  <div class="conteudo">
    
    <div class="titulo">
    <h1>Cadastrar produto</h1>
    </div>

    <ion-item>
        <img src="#" (click)="youPhoto()" *ngIf="!produto.fotosProduto">
        <img [src]="produto.fotosProduto[0]" (click)="youPhoto()" *ngIf="produto.fotosProduto" >
    </ion-item>
    <ion-slides page="true" [options]="slideOpts" *ngIf="produto.fotosProduto">
        <ion-slide *ngFor="let F of produto.fotosProduto; let i=index">
          <img src="{{F}}"  (click)="removePhoto(i)"> 
        </ion-slide>
    </ion-slides>
    <div class="inputs">
      
    <div class="input">
        <ion-input placeholder="Nome:" type="text" required name="nomeProduto" [(ngModel)]="produto.nomeProduto" ></ion-input>
    </div>
    <div class="input">
      <ion-input placeholder="Descrição:" [(ngModel)]="produto.descricaoProduto"></ion-input>
    </div>
    <div class="input">
      <ion-input placeholder="Tipo:" [(ngModel)]="produto.tipoProduto"></ion-input>
    </div>
    <div class="input">
      <ion-input placeholder="Valor:" [(ngModel)]="produto.valorProduto"></ion-input>
    </div>
        <div class="cadastrar">
          <ion-button size="small" color="warning" (click)="save()" >CADASTRAR</ion-button>
        </div>
        <div class="voltar">
          <ion-button size="small" color="warning" routerLink="/tabs/home">voltar para o início</ion-button>
        </div>
      </div>
    </div>
  </div>
  </ion-content>
  
